body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
p {
  margin-bottom: 0;
}
a.site-title {
  letter-spacing: -2px;
}
/* main canvas/window */
.site-canvas {
  padding-bottom: 30px;
}
/* phone container cards style */
#phone-container .card img {
  padding: 10px;
}
/* details area style */
.detailsImg {
  width: 220px;
  margin: 0 auto;
  padding-top: 10px;
}
.main-feture span,
.other-fetures span {
  font-weight: 300;
}
/* spinner */
#spinner-container {
  background: #fff;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  transition: all 0.3s ease-in-out;

  display: none;
  justify-content: center;
  align-items: center;
}
/* no found msg */
.noFound-msg {
  text-align: center;
  width: 100%;
  margin-top: 100px;
}
.noFound-msg span {
  font-size: 28px;
  display: block;
}
.noFound-msg img {
  width: 50px;
}
.ph-details {
  background: #333;
  padding: 2px 5px 2px 15px;
  color: #fff;
  margin-bottom: 10px;

  position: relative;
}
.ph-details:before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 100%;
  background: rgb(0, 119, 255);
  top: 0px;
  left: 0px;
}

/* media queries  */
@media (max-width: 767px) {
  .site-row {
    flex-direction: column-reverse;
  }
  .phone-search-area {
    margin-top: 20px;
  }
  .card-img-top {
    width: 220px;
    margin: 0 auto;
  }
  h5 {
    font-size: 1.15rem;
  }
  .lead {
    font-size: 1.05rem;
  }
}
